<div class="row">
	<div class="col-md-12">
		<h4 style="width:95%;margin-left:auto;margin-right:auto;">Select date & participants</h4>
		<div class="angular-reservation-live"><i class="fa fa-check"></i> Live Availability</div>
		<div uib-datepicker class="angular-reservation-datepicker" ng-change="reservationCtrl.update(reservationCtrl.selectedDate)" ng-model="reservationCtrl.selectedDate" datepicker-options="reservationCtrl.datepickerOptions"></div>
	</div>

	<div class="col-md-12">
		<div ng-include="'loader.html'" class="text-center buffer-bottom" ng-if="reservationCtrl.loaderFareharbor"></div>
		<div ng-repeat="person in reservationCtrl.details">
			<div class="row angular-reservation-padding">
				<div class="col-xs-12" style="margin-bottom:10px">
					<div style="display:inline-block;width:60%">{{person.name}} <span ng-if="person.price.amount" class="text-muted ">{{person.price.amount  | currency}}</span><span ng-if="!person.price.amount" class="text-muted ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="person-note text-muted" ng-if="person.note">{{person.note}}</span>
					</div>
			    <select class="pull-right angular-reservation-dropdown" ng-model="reservationCtrl.details[$index].selected" ng-change="reservationCtrl.details[$parent.$index].selected = o; reservationCtrl.selectedPeople=true">
			    	<option value=" ">Select</option>
	     			<option ng-value="o" ng-repeat="o in reservationCtrl.range(reservationCtrl.details[$index].min, reservationCtrl.details[$index].max)">{{o}}</option>
	     		</select>
				</div>
			</div>
		</div>
		<div uib-alert class="alert-danger text-center" ng-if="reservationCtrl.detailsError" style="margin-top: 1em">
            <div>Oh no! There's a glitch in the system. Contact us for help at info@hijinkslife.com</div>
        </div>
		<div class="text-center" style="padding:20px">
			<span ng-if="reservationCtrl.minimumPeople > 1" style="display:block;margin-bottom: 10px; color:firebrick">A minimum of {{reservationCtrl.minimumPeople}} is required to make this booking</span>
			<a ng-disabled="!reservationCtrl.selectedPeople || reservationCtrl.dateDisabled || (reservationCtrl.minimumPeople > 1 && reservationCtrl.getTotalPeople() < reservationCtrl.minimumPeople)" ng-click="reservationCtrl.onSelectDate(reservationCtrl.selectedDate)" class="btn btn-success btn-block text-center">Next »</a>
		</div>
	</div>
</div>