<div class="row">
	<div class="col-md-12">
		<div class="spacer"></div>
		<div ng-repeat="person in reservationCtrl.details">
			<div class="row angular-reservation-padding">
				<div class="col-md-8">
					{{person.name}} - <span class="text-muted ">{{person.price.amount | currency}}</span>
				</div>
				<div class="col-md-4 text-right">
				 	<div class="btn-group text-left" style="background:none" uib-dropdown>
						<button id="split-button" type="button" class="btn btn-sm btn-default">{{reservationCtrl.details[$index].selected}}</button>
			      <button type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
			        <span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
			       <li ng-class="{active : o === person.selected}" ng-repeat="o in reservationCtrl.range(reservationCtrl.details[$index].min, reservationCtrl.details[$index].max)" role="menuitem"><a ng-click="reservationCtrl.details[$parent.$index].selected = o">{{o}}</a></li>
		     		</ul>
			    </div>
				</div>
			</div>
		</div>
		<h3 style="margin-bottom:0" class="text-center">Total: {{reservationCtrl.getTotal() | currency}}</h3>
	</div>

	<div class="col-md-12">
		<div uib-datepicker class="angular-reservation-datepicker" ng-model="reservationCtrl.selectedDate" datepicker-options="reservationCtrl.datepickerOptions"
	     ng-change="reservationCtrl.onSelectDate(reservationCtrl.selectedDate)"></div>
	  <div class="angular-reservation-live"><i class="fa fa-check"></i> Live Availbility</div>
	</div>
</div>