<div>
    <uib-tabset active="reservationCtrl.selectedTab" justified="true" style="border: 2px dotted gainsboro">
        <uib-tab index="0">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size: 18px"></span>
                <h5>{{"date" | translate}}</h5>
            </uib-tab-heading>

            <uib-datepicker ng-model="reservationCtrl.selectedDate" ng-change="reservationCtrl.onSelectDate()" datepicker-options="reservationCtrl.calendarOptions"></uib-datepicker>
        </uib-tab>

        <uib-tab index="1">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size: 18px"></span>
                <h5>{{"time" | translate}}</h5>
            </uib-tab-heading>

            <div class="list-group">
                <a class="list-group-item" href="" ng-repeat="item in reservationCtrl.availableHours" ng-click="reservationCtrl.selectHour(item)" ng-class="{'selected': reservationCtrl.selectedHour == item}">
                    {{item}}
                </a>
            </div>
        </uib-tab>

        <uib-tab index="2">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 18px"></span>
                <h5>{{"client" | translate}}</h5>
            </uib-tab-heading>

            <form class="form-horizontal" name="reservationCtrl.reserveForm" novalidate>
                <fieldset>
                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label" for="name">{{"name" | translate}}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 14px"></span>
                                </span>
                                <input id="name" name="name" class="form-control" placeholder="{{'name' | translate}}" type="text" required>
                            </div>

                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label" for="phone">{{"phone" | translate}}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="font-size: 14px"></span>
                                </span>
                                <input id="phone" name="phone" class="form-control" placeholder="{{'phone' | translate}}" type="text" required>
                            </div>

                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label" for="email">{{"email" | translate}}</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size: 14px"></span>
                                </span>
                                <input id="email" name="email" class="form-control" placeholder="{{'email' | translate}}" type="text" required>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="reserve" name="reserve" class="btn btn-success">{{"reserve" | translate}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </uib-tab>
    </uib-tabset>
</div>

<!--
<div class="tabs">
    <md-content>
        <md-tabs md-selected="reservationCtrl.selectedTab" md-center-tabs md-swipe-content md-dynamic-height md-border-bottom>
            <md-tab>
                <md-tab-label>
                    <i class="material-icons" style="font-size: 36px">date_range</i>
                </md-tab-label>

                <md-tab-body>
                    <md-calendar ng-model="reservationCtrl.selectedDate" ng-change="reservationCtrl.onSelectDate()"></md-calendar>
                </md-tab-body>
            </md-tab>

            <md-tab ng-disabled="reservationCtrl.secondTabLocked">
                <md-tab-label>
                    <i class="material-icons" style="font-size: 36px">schedule</i>
                </md-tab-label>

                <md-tab-body>
                    <md-content style="min-height: 60px">
                        <md-progress-circular ng-show="reservationCtrl.showLoader" md-diameter="50" md-mode="indeterminate"></md-progress-circular>

                        <md-list>
                            <md-list-item class="md-1-line" ng-repeat="item in reservationCtrl.availableHours">
                                <div class="md-list-item-text">
                                    <h3>{{item}}</h3>
                                </div>
                                <md-button class="md-secondary" ng-click="reservationCtrl.selectHour(item)">{{"select" | translate}}</md-button>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab-body>
            </md-tab>

            <md-tab ng-disabled="reservationCtrl.thirdTabLocked">
                <md-tab-label>
                    <i class="material-icons" style="font-size: 36px">person</i>
                </md-tab-label>

                <md-tab-body>
                    <md-content style="min-height: 60px">
                        <md-progress-circular ng-show="reservationCtrl.showLoader" md-diameter="50" md-mode="indeterminate"></md-progress-circular>

                        <form name="reservationCtrl.reserveForm" ng-show="!reservationCtrl.showLoader" novalidate>
                            <md-content class="md-no-momentum">
                                <md-input-container class="md-icon-float md-block">
                                    <label>{{"name" | translate}}</label>
                                    <md-icon aria-label="person" class="material-icons">person</md-icon>
                                    <input ng-model="reservationCtrl.userData.name" type="text" ng-required="true">
                                </md-input-container>

                                <md-input-container class="md-icon-float md-block">
                                    <label>{{"phone" | translate}}</label>
                                    <md-icon aria-label="person" class="material-icons">phone</md-icon>
                                    <input ng-model="reservationCtrl.userData.phone" type="text" ng-required="true">
                                </md-input-container>

                                <md-input-container class="md-icon-float md-block">
                                    <label>{{"email" | translate}}</label>
                                    <md-icon aria-label="person" class="material-icons">email</md-icon>
                                    <input ng-model="reservationCtrl.userData.email" type="email" ng-required="true">
                                </md-input-container>
                            </md-content>

                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                <md-button type="button" ng-click="reservationCtrl.showConfirm($event)" ng-disabled="!reservationCtrl.reserveForm.$valid" class="md-raised md-primary">{{"reserve" | translate}}</md-button>
                            </section>
                        </form>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>-->
