/*UI Bootstap fix @see https://angular-ui.github.io/bootstrap/#/getting_started */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.angular-reservation-box {
    border: 2px solid gainsboro;
}

.angular-reservation-icon-size {
    font-size: 18px;
}

.angular-reservation-selected {
    color: #fff !important;
    background-color: #5cb85c;
}

.angular-reservation-selected:hover {
    color: #fff !important;
    background-color: #5cb85c !important;
}

.angular-reservation-datepicker {
    width: 95%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.angular-reservation-availableHour {
    margin: 2em;
}

.angular-reservation-noAvailableHours {
    margin: 2em 2em;
    display: block;
    text-align: center;
}

.angular-reservation-clientForm {
    margin-bottom: 10px;
}

.angular-reservation-breakdown {
    border-left: 2px solid #43abc9;
    margin-bottom: 10px;
    background-color: #f6f6f6;
}

.angular-reservation-bump {
    margin-top: -1px;
}

.nav-tabs > li.active > a {
    background-color: white !important;
    border-radius: 0;
}

li:first-child a{
    border-left: none !important;
}

.angular-reservation-padding {
    padding: 0 20px 5px 20px;
}

.angular-reservation-h5 {
    margin-top: -5px;
}

.angular-reservation-live {
    margin:1em auto;
    margin-bottom: -20px;
    width:95%;
    color:#068906;
    font-weight:bold;
    text-align:right;
}
.angular-reservation-loading {
    margin:1em auto;
    margin-bottom: -20px;
    width:95%;
    font-weight:bold;
    text-align:right;
}

.angular-reservation-td {
    padding-left: 15px;
}

.angular-reservation-tr {
    padding-bottom: 10px;
}

.angular-reservation-table {
    border-collapse: initial;
    border-spacing: 15px 12px;
}

@media screen and (max-width:500px){
    .angular-reservation-hide-500 {
        display: none;
    }
}

@media screen and (min-width:501px){
    .angular-reservation-show-500 {
        display: none;
    }
}

.angular-reservation-detail-title {
    font-size: 13px;
}

.angular-reservation-detail {
    font-size: 16px;
    padding-bottom: 15px;
}

.angular-reservation-underline {
    border-bottom: 1px solid #e87528;
}

.uib-daypicker table {
  width: 100%;
}
.uib-monthpicker table{
  width: 100%;
}
.uib-daypicker table thead tr:nth-child(2){
    background-color: #5a6c7d;
    color: white;
}
.uib-right, .uib-left, .uib-title {
  background-color: #5a6c7d !important;
  color: white !important;
  border-radius: 0 !important;
  border-color: #5a6c7d !important;
  opacity: 1 !important;
}
.uib-right, .uib-left {
    line-height: inherit !important;
}
.uib-title {
    height: 29px;
}
.uib-right:hover, .uib-left:hover, .uib-title:hover {
  background-color: #39434e !important;
  color: white !important;
  border-color: #5a6c7d;
}
.uib-right:focus, .uib-left:focus, .uib-title:focus {
  background-color: #39434e !important;
  color: white !important;
  border-color: #5a6c7d;
}

.angular-reservation-dropdown {
    padding: 2px;
}

.person-note {
  display:inline-block;
  width:70%;
  font-size:12px;
  position: relative;
  top: -3px;
  font-style: italic;
}

a.list-group-item {
  color: #444;
}

a.list-group-item:hover {
  background-color: white;
}

.list-group-item {
  background-color: #f8f8f8;
  margin-bottom: 5px;
}